@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: #e5e7eb;
}

ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.container {
    padding: 0 15%;
    /*too remove*/
    /*border: 1px solid red;*/
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav,
.hero-section {
    background-color: #1f2937;
}

.hero-section {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74vh;
}

.button-1 {
    border: none;
    color: #f9faf8;
    font-weight: 600;
    font-size: 16px;
    background-color: #3882f6;
    padding: 15px 35px;
    border-radius: 10px;
    margin-top: 10px;
    width: 150px;
}

.logo {
    font-size: 32px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-main {
    font-size: 60px;
    color: #f9faf8;
    font-weight: 900;
    width: 50%;
    margin-bottom: 12px;
}

.hero-secondary {
    font-size: 22px;
    color: #e5e7eb;
    margin-bottom: 12px;
    width: 60%
}

.left-sub-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* background-color: lightblue; */
}

.right-sub-section {
    width: 50%;
    background-color: rgb(109 116 125);

}

.placeholder {
    font-size: 24px;
    color: #f9faf8;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-section {
    display: flex;
    flex-direction: column;
    height: 40vh;
}

.container-2 {
    padding: 0 320px;
}

.info-header {
    display: flex;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    color: #1F2937;
    font-weight: 900;
}

.info-container {
    display: flex;
    padding: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image {
    border: 5px solid #3882F6;
    height: 140px;
    width: 140px;
    border-radius: 10px;
}

.image-info {
    width: 145px;
    padding: 5px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    height: 36vh;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

.quote-container {
    padding: 5px;
    max-width: 850px;
}

.main-quote {
    font-size: 38px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    font-weight: 800;
    display: flex;
    justify-content: right;
    padding: 5px 25px;
}

.cta-section {
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
}

.cta-banner {
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    border-radius: 8px;
}

.cta-info {}

.cta-first {}

.cta-second {}

.btn {
    border: 3px solid white;
}