@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    min-height: auto;
    padding: 0;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.container {
    padding: 0 15%;
    /*too remove*/
    /*border: 1px solid red;*/
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav,
.hero-section {
    background-color: #1f2937;
}

.hero-section {
    background-color: #1f2937;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35vh;
}

.button-1 {
    border: none;
    color: #f9faf8;
    font-weight: 600;
    background-color: #3882f6;
    padding: 10px 35px;
    border-radius: 10px;
    margin-top: 10px;
    width: 150px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-main {
    font-size: 60px;
    color: #f9faf8;
    font-weight: 900;
    width: 70%;
}

.hero-secondary {
    font-size: 22px;
    color: #e5e7eb;
    width: 80%;

}

.left-sub-section {
    width: 50%;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    height: 30vh;
    /* background-color: lightblue; */
}

.right-sub-section {
    width: 50%;
    height: 30vh;
    background-color: rgb(109 116 125);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
}

.placeholder {
    font-size: 18px;
    color: #f9faf8;
}